<!DOCTYPE html>
<html>
<head>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
  <!-- Latest compiled JavaScript -->
  {% comment %} <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> {% endcomment %}
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>

  <meta charset="UTF-8">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" id='xxx' href="/"> 
      Currency rate history
    </a>
  </nav>
    <div class="container">
      <form action="" method="post">
      {% csrf_token %}
      <div class="row justify-content-center align-items-center">
          <div class="form-group">
            <label class="control-label">Save your exchange rate for UAH</label>
            <div class="form-group">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">1$ =</span>
                </div>
                <input type="text" name="value" class="form-control" aria-label="Amount (to the nearest dollar)">
                <div class="input-group-append">
                  <span class="input-group-text">UAH</span>
                </div>
              </div>
            </div>
          </div>
          <input type="submit" class="btn btn-success" value="Save"></input>
      </div>

      <div class="row justify-content-center pb-3">
          <input type="date" name="date" id="calendar" value="{{ today }}"> 
      </div>
      </form>

      <div class="row">
        <canvas id="myChart" width="40" height="40"></canvas>
        <script>
          {% autoescape off %}
            var ctx = document.getElementById('myChart').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {"labels": {{ days }},
                "datasets":[{"label":"UAH",
                  "data": {{ values }},
                  "fill":false,
                  "borderColor":"rgb(75, 192, 192)",
                }]},
                options: {
                "aspectRatio": 2,
                "responsive": true
                }
            });
          {% endautoescape %}
        </script>
      </div>

    </div>
</body>
